<section class="header-section">
	<div class="header-col-left">
		<img src="./assets/img/projects.png" alt="" />
	</div>
	<div class="header-col-right">
		<h1>Our environmental projects are providing many environmental benefits around the world.</h1>
	</div>
</section>
