.header-section{
	width:100%;
	display:flex;
	align-items: center;
	justify-content:space-around;
	background-color:#c2f5aa;
	border-radius:10px;
	padding:15px 15px 0px 15px;
	-webkit-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.1);
	box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.1);
	margin-bottom:15px;
	
	@media(max-width:767px){
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}
	
	.header-col-left{
		width:auto;
		max-width:200px;
		
		img{
			max-width:100%;
			display: flex;
			align-items: flex-end;
		}
	}
	
	.header-col-right{
		width:auto;	
		max-width:670px;
		text-align:center;
		
		@media(max-width:767px){
			margin-bottom:20px;
		}
		
		h1{
			font-weight:600;
			font-size:30px;
			line-height:44px;
			
			@media(max-width:767px){
				font-size:20px;
				line-height:32px;
			}
		}		
		
	}
}
