<section class="product-box">
<div class="product-item" *ngFor="let item of items">
	<div class="product-item-img">
		<img src="{{item.image}}" alt="">
		<div class="product-item-price">
			<a class="product-item-btn" href="#" *ngIf="item.price">Buy Now</a><br >
			<span class="product-item-price" *ngIf="item.price">{{item.price}}</span>
		</div>
		<div class="product-item-locat">{{item.location}}</div>
	</div>
	<div class="product-item-content">
		<h4 class="product-item-title">{{item.title}}</h4>
		<span class="product-item-weight">{{item.weight}}</span>
		<p class="product-item-desc">{{item.description}}</p>
	</div>
</div>
</section>