.product-box{
	width: calc(100% + 7.5px);
    margin: 0 -7.5px;
    display: flex;
	flex-wrap:wrap;
	
	@media(max-width:767px){
		width:100%;
		margin:0;
	}
	
	.product-item{
		width:calc(50% - 7.5px);
		min-height:100%;
		margin-left:7.5px;
		margin-bottom:15px;
		background-color:#fff;		
		-webkit-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.2);
		-moz-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.2);
		box-shadow:0px 0px 1px rgba(0, 0, 0, 0.2);
		
		@media(max-width:767px){
			width:100%;
			margin-left:0;
		}
		
		.product-item-img{
			width:100%;		
			height:202px;
			display:flex;
			position:relative;		
			background-color:#d1d1d1;
			
			
			img{
				width:100%;
				height:202px;
				object-fit:cover;
				object-position:center center;
			}
			
			.product-item-price{
				width:auto;
				position:absolute;
				top:5px;
				right:5px;
				text-align:center;
				
				.product-item-btn{
					background-color:#0b8d37;
					color:#fff;
					padding:16px 10px;
					min-width:140px;
					border-radius:5px;
					text-decoration:none;
					display: inline-block;
					font-size:18px;
					font-weight:500;
					
					@media(max-width:767px){
						padding: 10px 10px;
						min-width: 120px;
						font-size: 16px;
					}			
					
				}
				.product-item-btn:hover{
					background-color:#12a745;
				}
				
				.product-item-price{
					display:inline-block;
					padding:5px 7px;
					background-color:rgba(0, 0, 0, 0.6);
					position:relative;
					font-weight:700;
					color:#fff;
				}
				
			}
			.product-item-locat{
				width:auto;
				position:absolute;
				bottom:20px;
				left:10px;
				background-color:rgba(0, 0, 0, 0.6);
				text-transform:uppercase;
				color:#fff;
				font-size:26px;
				padding:3px 7px;
				font-weight:600;
				
				@media(max-width:767px){
					font-size: 20px;
				}
				
			}
			
		}
		
		.product-item-content{
			width:100%;			
			padding:13px 15px 17px 15px;
			font-family: 'Roboto Slab', serif;
			
			.product-item-title{
				color:#e1326d;
				margin-bottom:10px;
			}
			
			.product-item-weight{
				display:block;
				font-weight:700;
				color:#2bc05a;
				margin-bottom:12px;
			}
			
			.product-item-desc{
				color:#494949;
			}
			
		}
		
	}
}