*{
	box-sizing:border-box;
}
body{
	padding:0 15px;
	max-width:1106px;
	margin:30px auto 0 auto;
	background-color:#eeeeee;
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	
	@media(max-width:767px){
		font-size:14px;
	}
	
}
h1, h2, h3, h4, h5, h6, p, ul, li{
	margin:0;
}
.container{
	width:100%;
	
}